@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>
    <p>This is running in the docker container.</p>
    <p>Another change1 in the docker container.</p>
    <p>Another change2 in the docker container.</p>
</div>
